{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'custom/css/main.css' %}" />
		<script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.6.3/dist/spotlight.cdn.js"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header class="major">
					<h1>Конкурс для дизайнеров и инженеров</h1>
					<p>Идеи для будущих изделий из переработанного пластика в мастерской <a target="_blank" href="http://ecolabomsk.ru" rel="_blank" >EcoLab</a></p>
				</header>
				<div class="container">
					<ul class="actions special">
						<li><a href="#one" class="button primary scrolly">Начать</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'custom/images/Tiles.jpg' %}" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Кто мы</h2>
						</header>

						
						<p>
						Мы омская экологическая мастерская <a target="_blank" href="http://ecolabomsk.ru"> EcoLab </a>, в рамках проекта организовываем переработку пластика (PP, PET, HDPE, LDPE, PS).
						Наше оборудование может создавать крутые практичные вещи от карабина до лавочки из вторичного пластика. Все ограничивается фантазией и главное <b>формой</b> куда заливается, выдавливается расплавленный пластик.
						</p>
						    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

						<section>
							<h4>Оборудование и изделия из вторичного пластика</h4>
							<h5>By <a target="_blank" href="#">PreciousPlastic</a></h5>
							<div class="box alt">
								<div class="row gtr-uniform gtr-50">
									<div class="col-12"><span class="image fit spotlight" data-src="{% static 'custom/images/Normal.jpg' %}"><img src="{% static 'custom/images/Normal.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/injection-products.jpg' %}"><img src="{% static 'custom/images/injection-products.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/pp_products.jpg' %}"><img src="{% static 'custom/images/pp_products.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/process-1.jpg' %}"><img src="{% static 'custom/images/process-1.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/Products.jpg' %}"><img src="{% static 'custom/images/Products.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/Socket.jpg' %}"><img src="{% static 'custom/images/Socket.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/Carabina.jpg' %}"><img src="{% static 'custom/images/Carabina.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/Phone-Case.jpg' %}"><img src="{% static 'custom/images/Phone-Case.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/Injection-Dome.jpg' %}"><img src="{% static 'custom/images/Injection-Dome.jpg' %}" alt="" /></span></div>
									<div class="col-4"><span class="image fit spotlight" data-src="{% static 'custom/images/Bench.jpg' %}"><img src="{% static 'custom/images/Bench.jpg' %}" alt="" /></span></div>
								</div>
							</div>
							
						</section>
    
						
						
					</div>
					<a href="#two" class="goto-next scrolly">Интересно</a>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'custom/images/Plastic-waste-landfill.jpg' %}" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Цель конкурса</h2>
						</header>
						<p>
							Собрать креативные решения практичных изделий для содания по ним форм для оборудования. Формы используются для создания издели из пластика.
						</p>
						<h5>О конкурсе один из создателей проекта EcoLab Андрей Гурковский</h5>
						<blockquote>
							Я знаю, что в наших вузах преподают как продуктовый дизайн так и работу в программах SolidWorks, AutoCAD. 
							У нашей команды нет таких компетенций, поэтому хотим воволечь в проект студентов инженерных специальностей и из сферы дизайна.
							Задача перед конкурсантами - предложить идею в виде реального объекта или 3d модели того что мы будем производить на нашем оборудовании.
						</blockquote>
					</div>
					<a href="#three" class="goto-next scrolly">Этапы конкурса</a>
				</div>
			</section>

			<section id="three" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'custom/images/Shredded-Plastic.jpg' %}" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Как проходит конкурс</h2>
						</header>
						<p>Конкурс делится на 6 этапов:</p>
						<ul class="icons-grid">
							<li>
								<span class="icon solid major fa-camera-retro"></span>
								<h3>Регистрация и прием заявок </h3>
								<p>19 ОКТЯБРЯ — 20 НОЯБРЯ<p>
							</li>
							<li>
								<span class="icon solid major fa-vote-yea"></span>
								<h3>Онлайн-оффлайн голосование</h3>
								<p>23 НОЯБРЯ — 11 ДЕКАБРЯ<p>
							</li>
							<li>
								<span class="icon solid major fa-stop"></span>
								<h3>Подведение итогов</h3>
								<p>14 ДЕКАБРЯ — 20 ДЕКАБРЯ<p>
							</li>
							<li>
								<span class="icon solid major fa-gift"></span>
								<h3>Награждение победителей</h3>
								<p>20 ДЕКАБРЯ — 26 ДЕКАБРЯ<p>
							</li>
							<li>
								<span class="icon solid major fa-wrench"></span>
								<h3>Изготовление форм</h3>
								<p>10 ЯНВАРЯ — 10 ФЕВРАЛЯ<p>
							</li>
							<li>
								<span class="icon solid major fa-industry"></span>
								<h3>Производство изделий</h3>
								<p>10 ФЕВРАЛЯ И ДАЛЕЕ <p>
							</li>
						</ul>
					</div>

					Перед началом конкурса не забудьте посмотреть технические ограничения к изделиям
					<a href="https://ecolab-live-70610bb5b58840f4ad5c85d34a4-edee231.divio-media.net/documents/Kak_sdelat_meropriatie_ekologichnee_-_broshyura.pdf" class="button icon solid fa-download">Скачать инструкцию</a>
					</br>
					
					<a href="#four" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Three -->
			<section id="four" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'custom/images/Shredded-Plastic.jpg' %}" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Номинации конкурса</h2>
						</header>
						<p>Мы готовы принимать варианты изделий в различных вариантах, объединить их можно в три категории</p>
						<header>
								<h3>Мастер-модель</h3>
								<p>Изготовленное из дерева, глины, пластелина, гипса и др. материалов изделие в масштабе 1:1 к изделию из пластика. Идеально подходит для дизайнеров без навыков работы с 3D дизайном в специальных программах.</p>
						</header>
						<span class="image fit"><img src="/static/custom/images/master-model.jpg" alt=""></span>
						<h5>Требования</h5>
						<ul class="alt">
							<li>Масштаб 1:1</li>
							<li>Отполированное, не должно содержать дефектов</li>
							<li>Объем изделия не должен превышать 150 мл. (см3)</li>
							<li>Необходимо чтобы детали имела минимум тонких элементов</li>
						</ul>

						<header>
								<h3>2D, 3D модель плоского изделия</h3>
								<p>Формы для таких изделий изготавливаются проще всего. Для этого используется 3 листа стали. В среднем слое лазером вырезается неоходимая фигура. Толщина изделия зависит от толщины средненго слоя формы и возможностей лазеной установки. </p>
						</header>
						<span class="image fit"><img src="/static/custom/images/form.jpg" alt=""></span>
						<h5>Требования</h5>
						<ul class="alt">
							<li>Максимальная толщина 12 мм</li>
							<li>Минимальная толщина 5 мм</li>
							<li>Должна быть возможность подведения трубки для подачи расплавленного пластика</li>
						</ul>
						
						<header>
								<h3>3D модель, 3D модель в формате STL</h3>
								<p>Это отличный способ сделать качетвенную форму, отправив модель на фрезерный станок с ЧПУ. Форма получается наиболее точной и качественной.</p>
						</header>
						<span class="image fit"><img src="/static/custom/images/cpy.jpeg" alt=""></span>
						<ul class="alt">
							<li>Подробная иформация по ограничениям представлена в инструкции</li>
						</ul>

						<header>
								<h3>Приз зрительских симпатий</h3>
								<p>Участвует работа из любой номинации, голосование будет проходить в <a href="https://www.instagram.com/ecolabomsk/" target="_blank">инстаграме</a>  проекта EcoLab</p>
						</header>
						<span class="image fit"><img src="/static/custom/images/Horloge_M_sans_troteuse.jpg" alt=""></span>
					</div>

					Перед началом конкурса не забудьте посмотреть технические ограничения к изделиям
					<a href="https://ecolab-live-70610bb5b58840f4ad5c85d34a4-edee231.divio-media.net/documents/Kak_sdelat_meropriatie_ekologichnee_-_broshyura.pdf" class="button icon solid fa-download">Скачать инструкцию</a>
					</br>
					
					<a href="#five" class="goto-next scrolly">Next</a>
				</div>
			</section>
		-->
		<section id="five" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="{% static 'custom/images/injection-products.jpg' %}" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2>Призы и парнеры</h2>
						</header>
						<h3>Партнеры</h3>
						<div class="box alt">
							<div class="row gtr-uniform gtr-50">
								<div class="col-4"><span class="image fit"><img src="/static/custom/images/sibadi.jpg" alt=""></span></div>
								<div class="col-4"><span class="image fit"><img src="/static/custom/images/vashe_logo.webp" alt=""></span></div>
							</div>
						</div>	
						<h3>Ключевые партнеры</h3>
						<div class="box alt">
							<div class="row gtr-uniform gtr-50">
								<div class="col-4"><span class="image fit"><img src="/static/custom/images/dkomsk.jpg" alt=""></span></div>
								<div class="col-4"><span class="image fit"><img src="/static/custom/images/tkomsk.jpg" alt=""></span></div>
								<div class="col-4"><span class="image fit"><img src="/static/custom/images/vashe_logo.webp" alt=""></span></div>
							</div>
						</div>
						<h3>Информационные партнеры</h3>
						<div class="box alt">
							<div class="row gtr-uniform gtr-50">
								<div class="col-4"><span class="image fit"><img src="/static/custom/images/publich.jpg" alt=""></span></div>
							</div>
						</div>
						<h3>Призы (формируется)</h3>
						<div class="table-wrapper">
							<table class="alt">
								<thead>
								</thead>
								<tbody>
									<tr>
										<td>1 место в любой категории</td>
										<td>
										10 изделий для друзей и близких по предложенной идее от EcoLab
										</br>
										Пригласительный на открытие для "своих" мастеркой EcoLab
										</br>
										Корзина местной еды
										</td>
									</tr>
									<tr>
										<td>2 место в любой категории</td>
										<td>
										<ol>
										<li>10 изделий для друзей и близких по предложенной идее от EcoLab</li>
										<li>Пригласительный на открытие для "своих" мастерcкой EcoLab</li>
										</ol>
										</td>
									</tr>
									<tr>
										<td>3 место в любой категории</td>
										<td>
										10 изделий для друзей и близких по предложенной идее от EcoLab
										</br>
										Пригласительный на открытие для "своих" мастерcкой EcoLab
										</br>
										</td>
									</tr>
									<tr>
										<td>За участие в категории 3D модель</td>
										<td>
										<ol>
											<li>Мастер-класс по 3Dmax</li>
										</ol>
										</td>
									</tr>
									<tr>
										<td>Приз зрительских симпатий</td>
										<td>
										<ol>
											<li></li>
											<li></li>
										</ol>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
					<a href="#footer" class="goto-next scrolly">Этапы конкурса</a>
				</div>
			</section>
		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Принять участие</h2>
					</header>
					<form method="post" action="http://ecolabomsk.ru/home/register/">
					{% csrf_token %}
						<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Имя" /></div>
							<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
							<div class="col-12"><input type="text" name="socialmedia" id="soc" placeholder="Аккаунт в социальной сети" /></div>
							<div class="col-12">
								<select name="category" id="demo-category">
									<option value="">Категория</option>
									<option value="master-model">Мастер-модель</option>
									<option value="plane">Плоская деталь</option>
									<option value="3d">3D модель</option>
								</select>
							</div>
							<div class="col-12">
								<ul class="actions special">
									<li><input type="submit" value="Принять участие" class="primary" /></li>
								</ul>
							</div>
							<p>Вступайте в <a target="_blank" href="https://vk.com/design_ecolabomsk">группу</a> конкурса вконтакте, там мы будем размещать актуальную информацию и принимать работы.</p>
							
						</div>
					</form>
					<a href="https://ecolab-live-70610bb5b58840f4ad5c85d34a4-edee231.divio-media.net/documents/Kak_sdelat_meropriatie_ekologichnee_-_broshyura.pdf" class="button icon solid fa-download">Скачать инструкцию</a>
				</div>
				<footer>
					<ul class="icons">
						<li><a  target="_blank" href="https://vk.com/design_ecolabomsk" class="icon brands alt fa-vk"><span class="label">Вконтакте</span></a></li>
						<li><a target="_blank" href="https://www.instagram.com/ecolabomsk/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a target="_blank" href="mailto:ecolaboratory55@gmail.com" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>

					<b>Экологическая мастерская EcoLab</b>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="{% static 'custom/js/jquery.min.js' %}"></script>
			<script src="{% static 'custom/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'custom/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'custom/js/browser.min.js' %}"></script>
			<script src="{% static 'custom/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'custom/js/util.js' %}"></script>
			<script src="{% static 'custom/js/main.js' %}"></script>

	</body>
</html>