<!doctype html>
<html lang="en">

	<!-- Google Web Fonts
	================================================== -->

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

	<!-- Basic Page Needs
	================================================== -->

	<title>Superowl</title>

	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Vendor CSS
	============================================ -->
	
	<link rel="stylesheet" href="font/demo-files/demo.css">

	<!-- CSS theme files
	============================================ -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fontello.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>

<body>

  <div class="loader"></div>

  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f-right"><a href="#" class="button button-type-3 button-orange">Accept Cookies</a><a href="#" class="button button-type-3 button-grey-light">Read More</a></div>
            </div>
          </div>
        </div>-->

  <!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->

  <div id="wrapper" class="wrapper-container">

    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

    <nav id="mobile-advanced" class="mobile-advanced"></nav>

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <header id="header" class="header">
		
		<!-- search-form -->
    	<div class="searchform-wrap">
	        <div class="vc-child h-inherit relative">

	          <form>
	            <input type="text" name="search" placeholder="Start typing...">
	            <button type="button"></button>
	          </form>

	        </div>
	        <button class="close-search-form"></button>
	    </div>

      	<!-- top-header -->
      	<div class="top-header">
			
			<!-- - - - - - - - - - - - / Mobile Menu - - - - - - - - - - - - - -->

          	<!--main menu-->

	        <div class="menu-holder">
	            
	            <div class="menu-wrap">

	            	<div class="table-row">
	            		
	            		<!-- logo -->

						<div class="logo-wrap">

							<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>

						</div>

						<!-- Menu & TopBar -->
	            		<div class="nav-item">
							
							<!-- Top Bar -->

	            			<div class="contact-info-menu">

	            				<div class="contact-info-item">
	            					<i class="icon-phone"></i>
	            					<a href="callto:#">800-987-65-43</a>
	            				</div>
	            				<div class="contact-info-item">
	            					<i class="icon-mail-1"></i>
	            					<a href="mailto:#">info@companyname.com</a>
	            				</div>
	            				<div class="contact-info-item">
	            					<i class="icon-location"></i>
	            					<span>9870 St Vincent Place, Glasgow, DC 45 Fr 45</span>
	            				</div>
	            				<div class="contact-info-item lang-button">
	            					<i class="icon-globe-1"></i>
	        						<a href="#">English</a>
				                    <ul class="dropdown-list">
					                    <li><a href="#">English</a></li>
					                    <li><a href="#">German</a></li>
					                    <li><a href="#">Spanish</a></li>
				                    </ul>
	            				</div>
	            				<div class="contact-info-item">
	            					<i class="icon-globe-1"></i>
	        						<a href="#">Client/Register</a>
	            				</div>
	            				<div class="contact-info-item">
	            					<ul class="social-icons">

						                <li class="fb-icon"><a href="#"><i class="icon-facebook"></i></a></li>
						                <li class="google-icon"><a href="#"><i class="icon-gplus"></i></a></li>
						                <li class="tweet-icon"><a href="#"><i class="icon-twitter"></i></a></li>
						                <li class="insta-icon"><a href="#"><i class="icon-instagram-4"></i></a></li>

						            </ul>
	            				</div>

	            			</div>
			                
			                <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

			                <nav id="main-navigation" class="main-navigation">
								<ul id="menu" class="clearfix">
									<li class="dropdown"><a href="#">Home</a>
									  	<!--sub menu-->
									  	<div class="sub-menu-wrap">
										    <ul>
												<li class="sub"><a href="#">Home Page Layouts</a>
													<!--sub menu-->
											    	<div class="sub-menu-wrap sub-menu-inner">
												      	<ul>
												        	<li><a href="index.html">Kindergarten</a></li>
												        	<li><a href="home_2.html">School of Early Learning</a></li>
												        	<li><a href="home_3.html">Nanny Agency</a></li>
												      	</ul>
											    	</div>
												</li>
												<li class="sub"><a href="#">Header Layouts</a>
													<!--sub menu-->
											    	<div class="sub-menu-wrap sub-menu-inner">
												      	<ul>
												        	<li><a href="index.html">Header 1</a></li>
												        	<li><a href="home_2.html">Header 2</a></li>
												        	<li><a href="home_3.html">Header 3</a></li>
												        	<li><a href="home_4.html">Header 4</a></li>
												        	<li><a href="home_5.html">Header 5</a></li>
												        	<li><a href="home_6.html">Header 6</a></li>
												        	<li><a href="home_7.html">Header 7</a></li>
												      	</ul>
											    	</div>
												</li>
												<li class="sub"><a href="#">Footer Layouts</a>
													<!--sub menu-->
											    	<div class="sub-menu-wrap sub-menu-inner">
												      	<ul>
												        	<li><a href="index.html#footer-scroll" class="animated">Footer 1</a></li>
												        	<li><a href="home_2.html#footer-scroll" class="animated">Footer 2</a></li>
												        	<li><a href="home_3.html#footer-scroll" class="animated">Footer 3</a></li>
												      	</ul>
											    	</div>
												</li>
										    </ul>
									  	</div>
									</li>
									<li class="dropdown"><a href="#">Pages</a>
									  	<!--sub menu-->
									  	<div class="sub-menu-wrap">
									    	<ul>
											  	<li><a href="about.html">About v1</a></li>
											  	<li><a href="about2.html">About v2</a></li>
											  	<li><a href="staff.html">Staff</a></li>
											  	<li><a href="staff_member.html">Staff Member</a></li>
											  	<li><a href="services.html">Services</a></li>
											  	<li><a href="classes.html">Classes</a></li>
											  	<li><a href="class_single.html">Single Class</a></li>
											  	<li><a href="class_tt.html">Classes Timetable</a></li>
											  	<li><a href="contact.html">Contact</a></li>
											  	<li><a href="page_404.html">404 Page</a></li>
									    	</ul>
									    </div>
									</li>
									<li class="dropdown"><a href="#">Elements</a>
										<!--sub menu-->
								    	<div class="sub-menu-wrap">
									      	<ul>
										        <li><a href="elements.html">Elements</a></li>
										        <li><a href="typography.html">Typography</a></li>
										        <li><a href="columns.html">Columns</a></li>
									      	</ul>
								    	</div>
									</li>
									<li class="dropdown"><a href="#">Gallery</a>
										<!--sub menu-->
								    	<div class="sub-menu-wrap">
									      	<ul>
										        <li><a href="gallery_grid.html">Grid Gallery</a></li>
										        <li><a href="gallery_masonry.html">Masonry Gallery</a></li>
									      	</ul>
								    	</div>
									</li>
									<li class="dropdown"><a href="#">Events</a>
										<!--sub menu-->
								    	<div class="sub-menu-wrap">
									      	<ul>
										        <li><a href="events.html">Upcoming Events</a></li>
										        <li><a href="single_event.html">Event</a></li>
									      	</ul>
								    	</div>
									</li>
									<li class="dropdown"><a href="#">News</a>
										<!--sub menu-->
								    	<div class="sub-menu-wrap">
									      	<ul>
										        <li><a href="news_big.html">Blog With Big Images</a></li>
										        <li><a href="news_small.html">Blog With Small Images</a></li>
										        <li><a href="news_single.html">Single Blog Post</a></li>
									      	</ul>
								    	</div>
									</li>
									<li class="current dropdown"><a href="#">Shop</a>
										<!--sub menu-->
								    	<div class="sub-menu-wrap">
									      	<ul>
										        <li><a href="shop_category.html">Shop Category</a></li>
										        <li><a href="shop_product.html">Product Page</a></li>
										        <li class="current"><a href="shop_checkout.html">Checkout</a></li>
									      	</ul>
								    	</div>
									</li>
								</ul>
			                </nav>

			                <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->

			                <div class="search-holder">

								<button class="search-button"></button>

		                    </div>

		                    <div class="shop-cart">
                    
			                  	<button class="sc-cart-btn dropdown-invoker"><span class="licon-cart"></span></button>

			                  	<div class="shopping-cart dropdown-window">

				                    <div class="products-holder">

				                      	<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

				                      	<div class="product">

					                        <button class="item-close"></button>

					                        <a href="#" class="product-image">
					                          
					                          <img src="images/100x100_product1.jpg" alt="">

					                        </a>

					                        <div class="product-description">

					                          <h6 class="product-name"><a href="#">Non Slip Yoga Mat</a></h6>

					                          <span class="product-price">1x$19.95</span>

					                        </div><!--/ .product-info -->

				                      	</div>

				                      	<!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

				                      	<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

				                      	<div class="product">

					                        <button class="item-close"></button>

					                        <a href="#" class="product-image">
					                          
					                          <img src="images/100x100_product2.jpg" alt="">

					                        </a>

					                        <div class="product-description">

					                          <h6 class="product-name"><a href="#">Non Slip Yoga Mat</a></h6>

					                          <span class="product-price">1x$19.95</span>

					                        </div><!--/ .product-info -->

				                      	</div>

				                      	<!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

				                    </div><!--/ .products-holder -->

				                    <div class="sc-footer">

				                      <div class="subtotal">Subtotal: <span class="total-price">$35.68</span></div>

				                      <div class="vr-btns-set">

				                        <a href="#" class="btn btn-small btn-style-4">View Cart</a>
				                        <a href="#" class="btn btn-small">Checkout</a>

				                      </div><!--/ .vr-btns-set -->

				                    </div>

			                  	</div><!--/ .shopping-cart -->

			                </div>

		                    <a href="#" class="btn btn-style-2">Inquire</a>

		              	</div>

	            	</div>

	            </div>

	        </div>

      	</div>
		
		<!-- bottom-separator -->
	    <div class="bottom-separator"></div>
      
    </header>

    <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

	<div class="breadcrumbs-wrap">

	  <div class="container">
	    
	    <h1 class="page-title">Single Product Page</h1>

	    <ul class="breadcrumbs">

	      <li><a href="index.html">Home</a></li>
	      <li>Checkout</li>

	    </ul>

	  </div>

	</div>

	<!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" class="page-content-wrap">

	    <div class="container">
        
          <div class="content-element5">
            
            <div class="hidden-section">

              <div class="account-action">Returning customer? <a class="invoker" href="#">Click here to login.</a></div>

              <div class="content">

                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>

                <!-- - - - - - - - - - - - - - Login Form - - - - - - - - - - - - - - - - -->

                <form class="contact-form type-2">

                  <div class="row content-element3">
                    <div class="col-sm-6">
                      
                      <label class="required">Username or email</label>
                      <input type="text">
                      
                    </div>
                    <div class="col-sm-6">
                      
                      <label class="required">Password</label>
                      <input type="text">
                      <a href="#" class="link-text2">Lost your password?</a>
                      <footer class="login-form-footer input-wrapper style-2">

                        <input type="checkbox" id="login-remember-me" class="type-2" name="login_remember_me">
                        <label for="login-remember-me">Remember me</label>

                      </footer>

                    </div>
                  </div>
                  <div class="form-column-full">
                    <a href="#" class="btn">Login</a>
                  </div>

                </form>

                <!-- - - - - - - - - - - - - - End of Login Form - - - - - - - - - - - - - - - - -->

              </div><!--/ .content -->

            </div><!--/ .hidden-section -->

            <div class="hidden-section">

              <div class="account-action">Have a coupon? <a class="invoker" href="#">Click here to enter your code.</a></div>

              <div class="content">

                <div class="row">
                  <div class="col-sm-6">

                    <!-- - - - - - - - - - - - - - Coupon Form - - - - - - - - - - - - - - - - -->

                    <form class="contact-form type-2">
	                    <button type="submit" class="btn btn-style-4 f-right">Apply Coupon</button>
	                    <div class="input-holder wrapper">
	                      <input type="text" placeholder="Enter coupon code">
	                    </div>
	                </form>

                    <!-- - - - - - - - - - - - - - End of Coupon Form - - - - - - - - - - - - - - - - -->

                  </div>
                </div>

              </div><!--/ .content -->

            </div><!--/ .hidden-section -->

          </div>

          <div class="content-element6">
            
            <div class="row">
              <div class="col-md-6 col-sm-12">
                
                <h5 class="content-element3">Billing Details</h5>
                <form class="contact-form type-2">
                              
                  <div class="row">
                    <div class="col-sm-6">
                      
                      <label class="required">First Name</label>
                      <input type="text">
                
                    </div>
                    <div class="col-sm-6">
                      
                      <label class="required">Last Name</label>
                      <input type="text">
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      
                      <label>Company Name</label>
                      <input type="text">
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      
                      <label class="required">Adress</label>
                      <input type="text" placeholder="Street address">
                      <input type="text" placeholder="Apartment, suit, unit etc. (optional)">
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      
                      <label class="required">Town / City</label>
                      <input type="text">
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      
                      <label class="required">Postcode/ZIP</label>
                      <input type="text">
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      
                      <label class="required">Phone</label>
                      <input type="text">
                
                    </div>
                    <div class="col-sm-6">
                      
                      <label class="required">Email address</label>
                      <input type="text">
                
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">

                      <div class="input-wrapper style-2">
                        <input type="checkbox" id="checkbox" class="type-2" name="checkbox">
                        <label for="checkbox">Create an account</label>
                      </div>

                    </div>
                  </div>
                
                </form>

              </div>
              <div class="col-md-6 col-sm-12">
                
                <div class="checkbox-title input-wrapper style-2">

                  <input type="checkbox" id="bd-diff-address" class="type-2" name="bd-diff-address">
                  <label for="bd-diff-address">Ship to a Different Address?</label>

                </div>
                <form class="contact-form">
                          
                  <label>Order Notes</label>
                  <textarea rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>

                </form>

              </div>
            </div>

          </div>

          <div class="content-element3">
            
            <h5 class="content-element3">Your Order</h5>
            <div class="content-element4">
              
              <div class="shop-cart-form order-type table-type-1">
                <table>
                  <thead>
                    <tr>
                      <th class="product-col">Product</th>
                      <th class="total-col">Total</th>
                    </tr>
                  </thead>
                  <tr>
                    <td data-title="Product">

                      <div class="product">

                        <div class="product-description">

                          <h6 class="product-name"><a href="#">Men’s T-shirt White</a></h6>

                          <span class="product-size">Size: L</span>

                        </div><!--/ .product-info -->

                      </div>

                    </td>
           
                    <td class="price">$100</td>
                  </tr>
                  <tr>
                    <td data-title="Product">

                      <div class="product">

                        <div class="product-description">

                          <h6 class="product-name"><a href="#">Cotton Tote Bag White</a></h6>

                        </div><!--/ .product-info -->

                      </div>

                    </td>
                    <td class="price">$35</td>
                  </tr>
                  <tr>
                    <td class="order-total">
                      <div>Cart subtotal:</div>
                    </td>
                    <td class="price">$135</td>
                  </tr>
                  <tr>
                    <td class="order-total">
                      <div>Shipping:</div>
                    </td>
                    <td>
                      <div class="input-wrapper">

                        <input type="radio" checked name="radio-1" id="radio-1">
                        <label for="radio-1">Free shipping</label>

                      </div>
                      <div class="input-wrapper">

                        <input type="radio" name="radio-1" id="radio-2">
                        <label for="radio-2">Flat shipping</label>

                      </div>
                    </td>
                  </tr>
                  <tr class="total-cell">
                    <td class="order-total">
                      Order Total:
                    </td>
                    <td class="price">$135</td>
                  </tr>
                </table>
              </div>

            </div>

            <div class="content-element6">
              
              <ul class="custom-list payment-option">

                <li>

                  <div class="input-wrapper style-2">
                    
                    <input type="radio" checked name="pm_payment_method" id="pm-cheque-payment" value="pm_cheque_payment">
                    <label for="pm-cheque-payment">Cheque Payment</label>

                  </div><!--/ .input-wrapper -->

                  <div class="payment-desc">
                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / Country, Store Postcode.</p>
                  </div>

                </li>

                <li>

                  <div class="input-wrapper style-2">
                    
                      <input type="radio" name="pm_payment_method" id="pm-paypal" value="pm_paypal">
                      <label for="pm-paypal">PayPal</label>
                      <a href="#">What is PayPal?</a>

                    </div><!--/ .input-wrapper -->

                    <div class="payment-desc">

                      <img src="images/paypal.png" alt="">

                    </div>

                </li>

                <li>
                  
                  <div class="input-wrapper style-2">
                    <input type="checkbox" id="checkbox2" class="type-2" name="checkbox2">
                    <label for="checkbox2">I’ve read and accept the <a href="#" class="link-text2 required">Terms & Conditions</a></label>
                  </div>

                </li>

              </ul>

            </div>

            <a href="#" class="btn btn-big">Place Order</a>

          </div>

        </div>

  	</div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <footer id="footer" class="footer">
		
		<!-- Top footer -->
		<div class="top-footer">
			
			<div class="container">
				
				<div class="icons-box fx-col-4">

					<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->				
					<div class="icons-wrap">

						<div class="icons-item">
							<div class="item-box"> <i class="licon-map-marker"></i>
								<h5 class="icons-box-title">
									<a href="#">Location</a>
								</h5>
								<p>
									9870 St Vincent Place, <br> Glasgow, DC 45 Fr 45
								</p>
							</div>
						</div>

					</div>
					<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->				
					<div class="icons-wrap">

						<div class="icons-item">
							<div class="item-box"><i class="licon-clock3"></i>
								<h5 class="icons-box-title">
									<a href="#">Opening Hours</a>
								</h5>
								<p>
									Monday – Friday <br> 8:00 AM – 5:00 PM
								</p>
							</div>
						</div>

					</div>
					<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->				
					<div class="icons-wrap">

						<div class="icons-item">
							<div class="item-box"> <i class="licon-smartphone"></i>
								<h5 class="icons-box-title">
									<a href="#">Contact Us</a>
								</h5>
								<p>
									+1 800 559 6580 <br> <a href="mailto:#" class="link-text">mail@companyname.com</a>
								</p>
							</div>
						</div>

					</div>
					<!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->				
					<div class="icons-wrap">

						<div class="icons-item">
							<div class="item-box"> <i class="licon-share2"></i>
								<h5 class="icons-box-title">
									<a href="#">Stay Connected</a>
								</h5>
								<ul class="social-icons style-2">

					                <li class="fb-icon"><a href="#"><i class="icon-facebook"></i></a></li>
					                <li class="google-icon"><a href="#"><i class="icon-gplus"></i></a></li>
					                <li class="tweet-icon"><a href="#"><i class="icon-twitter"></i></a></li>
					                <li class="insta-icon"><a href="#"><i class="icon-instagram-4"></i></a></li>

					            </ul>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

		<!-- Copyright -->
		<div class="copyright-section">
			
			<div class="container">

				<ul class="hr-list">
					<li><a href="#">About</a></li>
					<li><a href="#">Philosophy</a></li>
					<li><a href="#">Our staff</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Admissions</a></li>
					<li><a href="#">Tuition</a></li>
					<li><a href="#">Curriculum</a></li>
					<li><a href="#">Upcoming events</a></li>
					<li><a href="#">Contact</a></li>
				</ul>

				<p class="copyright">Copyright <span>SuperOwl</span> © 2017. All Rights Reserved</p>

			</div>

		</div>

    </footer>

    <div id="footer-scroll"></div>

    <!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

  </div>

  <!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->

  <!-- JS Libs & Plugins
  ============================================ -->
  <script src="js/libs/jquery.modernizr.js"></script>
  <script src="js/libs/jquery-2.2.4.min.js"></script>
  <script src="js/libs/jquery-ui.min.js"></script>
  <script src="js/libs/retina.min.js"></script>
  <script src="plugins/jquery.scrollTo.min.js"></script>
  <script src="plugins/jquery.localScroll.min.js"></script>
  <script src="plugins/jquery.queryloader2.min.js"></script>

  <!-- JS theme files
  ============================================ -->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  
</body>
</html>