{% extends 'base.html' %}
{% load static wagtailuserbar %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags shop_tags %}
{% block shopcart%}
<div class="shop-cart">
                    
	<button class="sc-cart-btn dropdown-invoker"><span class="licon-cart"></span></button>

	<div class="shopping-cart dropdown-window">

		<div class="products-holder">


		</div><!--/ .products-holder -->

		<div class="sc-footer">

		<div class="subtotal">Сумма: <span class="total-price">0</span></div>

		<div class="vr-btns-set">

			<a href="#" class="btn btn-small btn-style-4">Корзина</a>
			<a href="#" class="btn btn-small">Оформить</a>

		</div><!--/ .vr-btns-set -->

		</div>

	</div><!--/ .shopping-cart -->

</div>
{%endblock%}
{% block content %}
<div id="content">

    <div class="breadcrumbs-wrap style-2 type-2">

	<div class="container">
		
		<h1 class="page-title">{{page.title}}</h1>

		{% if self.get_ancestors|length > 1 %}
			<ul class="breadcrumbs">

			{% for page in self.get_ancestors %}
			{% if page.is_root == False %}
			<li><a href="{{page.url}}">{{ page.title }}</a></li>
			{% endif %}
			{% endfor %}

			<li>{{ page.title }}</li>

			</ul>
		{% endif %}

	</div>

</div>
    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
	
    <div id="content" >

      <div class="container">
        
        <div class="row">
          
          	<main id="main" class="col-lg-8 col-md-12">

	            <div class="product-sort-section">

	              	<span>Всего товаров на сайте {{page.children | length }}</span>
	              
	            </div>

	            <div class="content-element6">

	              <div class="products-holder flex-row item-col-3">
	                {% for product in posts %}
					{% with product=product.specific %}
	                <div class="product">
	                      
	                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
	                  <figure class="product-image">
					  {% with i=product.slider.all|first %}
							{% image i.image fill-555x555 as img%}
							<a href="{{product.url}}"> <img src="{{img.url}}" alt=""></a>
						
	                    
	                    <div class="overlay">
		                    <a style="cursor:pointer;" class="btn add-to-cart" 
							item_id="{{product.id}}" 
							count='1'
							cost="{{product.cost}}" 
							name="{{product.name}}" 
							url="{{product.url}}"  
							img="{{img.url}}" product_option="-">Добавить в корзину</a>
							{% endwith %}
		                </div>
	                  </figure>
	                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->
	              
	                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
	                  <div class="product-description">
	              
	                    <h6 class="product-name"><a href="{{product.url}}">{{product.name}}</a></h6>
	              
	                    <div class="pricing-area">
	              
	                      <div class="product-price">
	                        {{ product.cost }}&#8381
	                      </div>
	              
	                      <ul class="rating">
								  {%with rate=product.rating|div:product.count_rating%}
			                        {%if rate >= 1%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 2%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 3%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 4%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 5%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%endwith%}
			                    </ul>
	              
	                    </div>
	              
	                  </div>
	                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
	              
	                </div>
					{% endwith %}
					{% endfor %}
	              </div>

	            </div>
				{% if product_pages.paginator.num_pages > 1 %}
				<ul class="pagination">
					{% if product_pages.has_previous %}
					<li>
						<a href="?page={{ product_pages.previous_page_number }}{% if request.GET.tag != ''%}&tag={{ request.GET.tag }}{% endif %}" class="prev-page"></a>
					</li>
					{% endif %}
					{% for page_num in product_pages.paginator.page_range %}
					<li>
						<a href="?page={{ page_num }}{% if request.GET.tag != ''%}&tag={{ request.GET.tag }}{% endif %}" class="{% if page_num == product_pages.number %} active{% endif %}">{{ page_num }}</a>
					</li>
					{% endfor %}
					{% if product_pages.has_next %}
					<li>
						<a href="?page={{ product_pages.next_page_number }}{% if request.GET.tag != ''%}&tag={{ request.GET.tag }}{% endif %}" class="next-page"></a>
					</li>
					{% endif %}
					
				</ul>
				{% endif %}
	            

          	</main>
	        <aside id="sidebar" class="col-lg-4 col-md-12">
				
				<!-- Widget -->
	        	<div class="widget">

	    			<form class="contact-form search-line">
	    				<div class="f-right">
	    					<button class="search-btn btn"></button>
	    				</div>
	    				<div class="wrapper">
	    					<input type="text" placeholder="Поиск">
	    				</div>
	    			</form>

	    		</div>
	           
	            <!-- Widget -->
	            {% block categories_widget %}{% include "blog/includes/categories_widget.html" with cattegories=categories%}{% endblock categories_widget %}

	            
	            <!-- Widget -->
	            <div class="widget">
	                  
	              <h4 class="widget-title">Самые обсуждаемые</h4>

	              <div class="product-holder">
				  {% if popular_product %}
	                {% for product in popular_product%}

	                <!-- product -->
	                <div class="product">
	                    
	                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
	                  
	                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

	                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
	                  <div class="product-description">

	                    <h5 class="product-name"><a href="{{product.url}}">{{product.name}}</a></h5>
						<figure class="product-image">
	                    {%with i=product.slider.all|first%}
							{%image i.image fill-555x555 as img%}
							<a href="{{product.url}}"> <img src="{{img.url}}" alt=""></a>
						{%endwith%}
	                  </figure>

	                    <div class="pricing-area">

	                      <div class="product-price">
	                        {{product.cost}}&#8381
	                      </div>

	                      <ul class="rating">
								  {%with rate=product.rating|div:product.count_rating%}
			                        {%if rate >= 1%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 2%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 3%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 4%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%if rate >= 5%}
									<li><i class="licon-star"></i></li>
									{%else%}
									<li class="empty"><i class="licon-star"></i></li>
									{%endif%}
									{%endwith%}
			                    </ul>

	                    </div>

	                  </div>
	                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

	                </div>

					{% endfor %}
				  {% endif%}
	              </div>

	            </div>

	        </aside>

        </div>

      </div>
      
    </div>

</div>


    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{%endblock%}