{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{%block icons%}
<ul class="social-icons">
    {%if settings.site_settings.SocialMediaSettings.facebook %}
    <li class="fb-icon"><a href="{{settings.site_settings.SocialMediaSettings.facebook}}"><i class="icon-facebook"></i></a></li>
    {%endif%}
    {%if settings.site_settings.SocialMediaSettings.twitter %}
    <li class="tweet-icon"><a href="{{settings.site_settings.SocialMediaSettings.twitter}}"><i class="icon-twitter"></i></a></li>
    {%endif%}
    {%if settings.site_settings.SocialMediaSettings.vk %}
    <li class="tweet-icon"><a href="{{settings.site_settings.SocialMediaSettings.vk}}"><i class="icon-vkontakte"></i></a></li>
    {%endif%}
    {%if settings.site_settings.SocialMediaSettings.youtube %}
    <li class="youtube-icon"><a href="{{settings.site_settings.SocialMediaSettings.youtube}}"><i class="icon-youtube"></i></a></li>
    {%endif%}
    {%if settings.site_settings.SocialMediaSettings.instagram %}<li class="insta-icon"><a href="{{ settings.site_settings.SocialMediaSettings.instagram }}"><i class="icon-instagram-4"></i></a></li> {%endif%}
</ul>

{%endblock%}